*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;

}
.nav-links ul{
	margin: auto;
	padding: 80px 0 0 0;
	list-style: none;
	text-align: right;
	
}

.nav-links ul li{
	float: none;
	display: inline-block;
	font-size: 20px;
	letter-spacing: 2.5px;
	position:relative;
	
}

.nav-links ul li:nth-child(1){float:left;}
.nav-links ul li:nth-child(2){float:left;}
.nav-links ul li:nth-child(3){float:left; display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  }
.nav-links ul li:nth-child(4){padding-right:10px;}
.nav-links ul li:nth-child(5){padding-right:10px;}

.nav-links ul li a{
	margin: 0px 40px;
	font-family: 'Avoda', sans-serif;
	text-decoration: none;
	color: white;
}

.nav-links .dropdown-menu ul li{
	margin: 5px 30px;
	justify-content: center;
	width: 100%;
	font-size: 18px;
}


.dropdown-menu{
	display:none;
	position:absolute;
}

.dropdown-menu ul li a{
	display: block;
	left: 65%;
	right: auto;
	text-align: center;
	transform: translate(-65%, 0);
}

.nav-links .dropdown-menu ul{
	padding:20px;
}

.dropdown:hover .dropdown-menu {
	display:block;
}
nav {
	position: relative;
	z-index:1;
}

.logo{
	width: 180px;
	height: 179px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index:1;
	top: 5px;
}

.logo img{
	width: 100%
}

.navbar{
	background: rgba(169, 123, 70, 0.2);
	height: 190px;
}
.nav-links a::after{
	content:" ";
	position: absolute;
	left:0;
	bottom: 0;
	height: 1px;
	background-color: white;
	transition: transform 0.3s ease;
	transform: scale(0,1);
	width:100%;
	
}

.nav-links a:hover::after{
	transform: scale(1,1);
}

#footer{
	text-align: center;
	background-color: #a97b46;
	position: sticky;
	top: 100%;
	font-family: 'Jost', sans-serif;
	padding: 20px;
}

.social{
	align-items: center;
	justify-content:center;
	
}

.social li{
	align-items: center;
	display: inline-block;
	justify-content:center;
	list-style: none;
	color: #442706;
}


.footer-bottom{
	font-size: 13px;
	color: #442706;
}

.fab{
	color:#442706;
}

.fa-customize{
	font-size:25px;
}

.main_content{
	width: 90%;
	min-height: 800px;
	margin: 0 5%;
	padding: 2% 0;
}
.main_content .row{
	background-color: #e1b586;
	width: 80%;
	margin: 2% 10%;
	min-height: 200px;
	display: inline-block;
	vertical-align: middle;
}
.row .text{
	width: 50%;
	max-height: 300px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 1%;
}
.row img{
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	max-height: 250px;
}


.banner-video{
	width: 100%;
	height: 80vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.banner-video img{
	position: absolute;
	top: 0;
	left:0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

h1{
	display: flex;
	justify-content: center;
}

	* {
      box-sizing: border-box
      }
      body {
		font-family: 'Jost', sans-serif;
        margin: 0
      }
      .mySlides {
        display: none
      }
   
 
      /* Number text (1/5 etc) */
      .numbertext {
        color: #462907;
        font-size: 10px;
        padding: 30px 12px;
        position: absolute;
        top: 0;
      }
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #999999;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active,
      .dot:hover {
        background-color: #111111;
      }

      @-webkit-keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      @keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
          font-size: 11px
        }
      }
	  
h1{
	padding-top: 50px;
	text-align: center;
	font-family: 'Avoda', sans-serif;
	font-size: 50px;
	color: #462907;
	letter-spacing: 2.5px;

}